<a href="https://domainagents.com/{{ site.url | split: '//' | reverse | first }}-UQ123">I want {{ site.url | split: '//' | reverse | first }}</a>
<!-- {{ site.url | split: "//" | reverse | first }} is used to get the domain name -->
<!-- https://domainagents.com/[domainname]-UQ123 -->

<!-- HostGator ads -->
<a href="https://partners.hostgator.com/c/2191835/215653/3094" target="_top" id="215653"><img src="//a.impactradius-go.com/display-ad/3094-215653" border="0" alt="" width="971" height="91"/></a><img height="0" width="0" src="https://partners.hostgator.com/i/2191835/215653/3094" style="position:absolute;visibility:hidden;" border="0" />

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://www.KoolWebsites.com">Kool Websites</a>.</div>

